extends layout

block content

  div.banner
  div.weather
    p#location
    img#timeImg(src="/images/moonWhite.png" width="125px")
    p#highlowp Low - High
    p#highlow

    
  div.clock
    div.time
      div#MyClockDisplay
      div.subClock
        p(id="timePeriod")
        p(id="seconds")
    div.calendar
      p#day
