extends layout

block content

  div.banner
    div.weather
      p#location
      p#highlow
      
    div.clock
      div.time
        div#MyClockDisplay
        div.subClock
          p(id="timePeriod")
          p(id="seconds")
      div.calendar
        p#day
